.modal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(146, 146, 146, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal__box {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  background: #e2e2e2;
  height: auto;
  padding: 10px;
}

.modal__header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  color: #0857ef;
}

.modal__header-close {
  cursor: pointer;
  color: #231f1f;
  font-weight: 700;
}

.modal__footer-button {
  color: #231f1f;
  padding: 10px 20px;
  cursor: pointer;
}

.modal__footer-button--close {
  background-color: transparent;
  border: 1px solid #452a17;
}

.modal__footer-button--accept {
  background-color: rgba(106, 187, 73, 0.93);
  border: 1px solid #452a17;
}
